@import '~bulma/sass/utilities/all';

.image-uploads__container {
    display: flex;
    flex-flow: row wrap;
}

.image-upload {
    margin-right: 1rem;
    margin-bottom: 1rem;
    img {
        height: 100%;
    }
}