.keyword-highlight {
    background-color: yellow;
}

.price-option.dropdown-item {
    padding-right: 0;
}

.specs-filter {
    h4 {
        font-weight: unset !important;
        font-size: .875rem;
    }
    h5 {
        font-weight: unset !important;
        font-size: .75rem;
    }
    h6 {
        font-weight: unset !important;
        font-size: .75rem;
    }
}