.pe-none {
    pointer-events: none;
}

.top--025 {
    top: -0.25rem;
}
.left--025 {
    left: -0.25rem;
}
.right--025 {
    right: -0.25rem;
}

.top--05 {
    top: -0.5rem;
}
.left--05 {
    left: -0.5rem;
}
.right--05 {
    right: -0.5rem;
}

.move {
    cursor: move;
}

.of-cover {
    object-fit: cover;
}

.flex-no-shrink {
    flex-shrink: 0;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.backdrop.active {
    display: block;
}