<div class="field">
    <label class="label">{{ field.label }}</label>
    <div class="control image-uploads__container">
        {% for item in field.value %}
        {% include './image-upload.html' %}
        {% endfor %}
    </div>
</div>

<div class="modal image-uploads__cropper-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="modal-card-head">
            <p class="modal-card-title">Pilih tampilan terbaik dari gambar</p>
            <a class="delete"></a>
        </div>
        <div class="modal-card-body flex">
            <img class="w-100">
        </div>
        <div class="modal-card-foot">
            <a class="button is-link">Simpan</a>
            <a class="button is-text close-button">Batal</a>
            <a class="button rotate-left">
                <i class="fa fa-rotate-left"></i>
            </a>
            <a class="button rotate-right">
                <i class="fa fa-rotate-right"></i>
            </a>
        </div>
    </div>
</div>