<template id="image-upload-template">

    <div class="image-upload card relative hide-child">

        <figure class="image is-128x128 overflow-hidden">
            <img v-if="item.file" :src="item.file" class="of-cover" :data-name="item.name">
        </figure>

        <div v-if="item.file" class="child absolute absolute--fill move" data-move-handle>

            <span class="icon absolute top--05 right--05 bg-red br-100 grow pointer" @click="onRemove">
                <i class="fa fa-remove f4 white"></i>
            </span>

            <span class="icon absolute top--05 left--05 has-background-link br-100 grow pointer" @click="onCrop">
                    <i class="fa fa-crop f4 white"></i>
            </span>
        </div>

        <div v-else class="absolute absolute--fill flex justify-center items-center pointer dim" @click="onBrowse">
            <span class="icon has-text-link">
                <i class="fa fa-plus-circle fa-2x"></i>
            </span>
        </div>

        <input :name="`images[${index}]id`" :value="item.file ? item.id : undefined" class="dn">
        <input :name="`images[${index}]file`" :value="item.file" class="dn">
        <input :name="`images[${index}]created_at`" :value="item.created_at" class="dn">

        <input type="file" accept="image/*" class="dn" ref="file" @change="handleFile">
    </div>
</template>
