{% load utils %}

{% if style.input_type == 'hidden' %}
<input name="{{ field.name }}" type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %} {% if field.value is not None %}value="{{ field.value }}"{% endif %}>
{% else %}
<div class="field">
    {% if style.input_type != 'checkbox' %}
    <label class="label">{{ field.label }}</label>
    {% endif %}
    <div class="control">
        {% if style.input_type == 'checkbox' %}
        <label class="checkbox">
        {% endif %}
        {% render_widget field style %}
        {% if style.input_type == 'checkbox' %}
          {{ field.label }}
        </label>
        {% endif %}
    </div>
    {% include 'toko/bulma/field-help.html' %}
</div>
{% endif %}