{% extends 'toko/base.html' %}
{% load utils %}

{% block title %}Cari{% endblock %}

{% block description %}Halaman hasil pencarian website Juwal.{% endblock %}

{% block content %}
<h1>Cari</h1>
{% include './search-block.html' %}
{% include './search-filter.html' %}
{% if not results %}
<div class="box has-text-centered">
    Tidak ditemukan
</div>
{% endif %}
{% pagination paginator %}
<div class="columns is-multiline" id="search-results">
    {% for item in results %}
    {% include 'toko/ad/search-item.html' %}
    {% endfor %}
</div>
{% pagination paginator %}
{% css '/static/toko/css/ad.css' %}
{% css '/static/toko/css/search.css' %}
{% endblock %}