{% load utils %}

{% js '/static/toko/js/search-filter.js' %}

<div class="box content">
    {% if query %}
    <p>Hasil cari <strong>{{ query }}</strong> dalam <small>{{ category_path }}</small></p>
    {% endif %}
    {% include './category-filter.html' %}
    <div class="level f7">
        <div class="level-left">
            Dicari dalam {{ took }}ms
        </div>
        <div class="level-right">
            Jumlah {{ total }}{% if start|add:1 <= end %}, menampilkan {% if start|add:1 == end %}yang ke-{{ end }}{% else %}{{ start|add:1 }} s/d {{ end }}{% endif %}{% endif %}
        </div>
    </div>
</div>