<div class="specs-filter">
    <div class="level specs-filter__bar">
        <div class="level-left f6">
            Pilih spesifikasi
        </div>
        <div class="level-right">
            <a class="button is-small is-light" :class="{'is-hidden': !hasFilters}" @click="clearFilters">
                <span class="icon">
                    <i class="fa fa-close"></i>
                </span>
            </a>
        </div>
    </div>
    <ul class="specs-filter__specs">
        {% for product in product.buckets %}
        <li data-product="{{ product.key }}">
            <span class="icon pointer dim" :class="{dn: productHasFilters('{{ product.key }}')}" @click="expandProduct('{{ product.key }}')"><i class="fa" :class="{'fa-plus-square-o': !isExpanded('{{ product.key }}'), 'fa-minus-square-o': isExpanded('{{ product.key }}')}"></i></span>
            {% if product.key == 'Semua' %}
            <span class="button is-small is-text pe-none" style="text-decoration: unset">
                {{ product.key }} ({{ product.doc_count }})
            </span>
            {% else %}
            <a class="button is-small is-text" 
                :class="{'is-info': filters.product.{{ product.key }}}" 
                data-filter-title="{{ product.key }}" 
                @click="toggleProductFilter">
                {{ product.key }} ({{ product.doc_count }})
            </a>
            {% endif %}
            <ul :class="{dn: !isExpanded('{{ product.key }}')}">
                {% for spec in product.specs.speclabel.buckets %}
                <li>
                    <h5>{{ spec.key }}</h5>
                    <ul>
                        {% for value in spec.specvalue.buckets %}
                        <li>
                            <a class="button is-small is-text" 
                                :class="{'is-info': specFilterActive('{{ product.key }}', '{{ spec.key }}', '{{ value.key }}')}" 
                                data-filter-product="{{ product.key }}" 
                                data-filter-label="{{ spec.key }}" 
                                data-filter-value="{{ value.key }}" 
                                @click="toggleSpecFilter"
                            >
                                {{ value.key }} ({{ value.doc_count }})
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>