<nav class="pagination">
    <a href="{% if previous_url %}{{ previous_url }}{% else %}#{% endif %}" class="pagination-previous" aria-label="Previous" {% if not previous_url %}disabled{% endif %}>
        <i class="fa fa-angle-left"></i>
    </a>
    <a href="{% if next_url %}{{ next_url }}{% else %}#{% endif %}" class="pagination-next" aria-label="Next" {% if not next_url %}disabled{% endif %}>
        <i class="fa fa-angle-right"></i>
    </a>
    <ul class="pagination-list">
        {% for page_link in page_links %}
        {% if page_link.is_break %}
        <li>
            <span class="pagination-ellipsis" aria-hidden="true">&hellip;</span>
        </li>
        {% else %}
        <li>
            <a href="{{ page_link.url }}" class="pagination-link {% if page_link.is_active %}is-current{% endif %}">{{ page_link.number }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>