{% extends 'toko/base.html' %}
{% load utils %}

{% block title %}
Ubah Iklan
{% endblock %}

{% block content %}
<pre>{{ serializer }}</pre>
<pre>{{ obj }}</pre>
<div class="columns">
    <div class="column is-7">
        <h1>Ubah Iklan</h1>
        <form action="{% url 'toko:ad-detail' obj.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="field">
                <div class="control">
                    <button class="button is-link">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% jsvar kabupaten_id=form.kabupaten.value %}
{% js '/static/lib/vue.min.js' %}
{% js '/static/toko/js/provinsi.js' %}
{% endblock %}
