{% extends 'toko/base.html' %}
{% load utils %}

{% block title %}
Ubah Iklan
{% endblock %}

{% block content %}
{{ greet }}
<div class="columns">
    <div class="column is-7">
        <h1>Ubah Iklan</h1>
        <form action="{% url 'toko:ad-edit' obj.id %}" method="post">
            <input type="hidden" name="_method" value="put">
            {% csrf_token %}
            {% render_form serializer template_pack='toko/bulma' form='ad-detail.html' %}
            <div class="field">
                <div class="control">
                    <button class="button is-link">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% jsvar kabupaten_id=obj.kabupaten %}

{% css '/static/lib/dragula/dragula.min.css' %}
{% js '/static/lib/dragula/dragula.min.js' %}

{% css '/static/toko/css/ad.css' %}

{% js '/static/toko/js/provinsi.js' %}
{% js '/static/toko/js/dom.js' %}
{% js '/static/toko/js/form.js' %}
{% endblock %}
