{% extends 'toko/base.html' %}
{% load utils %}

{% block title %}
Ubah Iklan
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-7">
        <h1>Ubah Iklan</h1>
        {% if errors %}
        {% errors errors.non_field_errors %}
        {% endif %}
        <form action="{% url 'toko:ad-edit' obj.id %}" method="post" id="ad-form">
            <input type="hidden" name="_method" value="put">
            {% csrf_token %}
            {% render_form serializer template_pack='toko/bulma' form='ad-detail.html' %}
            <div class="field">
                <div class="control">
                    <button class="button is-link">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% include './edit-scripts.html' %}
{% endblock %}
