{% extends 'toko/base.html' %}
{% load utils %}

{% block title %}
Ubah Iklan
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-7">
        <h1>Ubah Iklan</h1>
        <form action="{% url 'toko:ad-edit' object.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="field">
                <div class="control">
                    <button class="button is-link">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% js '/assets/toko/js/provinsi.js' %}
{% endblock %}
