{% load compress %}
{% load utils %}

{% css '/static/toko/css/ad.css' %}
{% css '/static/toko/css/app.css' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Juwal - {% block title %}{% endblock %}</title>

        <link href="/assets/favicon.ico" rel="shortcut icon">
        {% compress css %}
        <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/lib/bulma.min.css" rel="stylesheet">
        <link href="/static/lib/tachyons.min.css" rel="stylesheet">
        <link href="/static/toko/css/app.css" rel="stylesheet">
        {% styles as styles %}
        {% for href in styles|unique %}
        <link href="{{ href }}" rel="stylesheet">
        {% endfor %}
        {% endcompress %}
    </head>
    <body>
        {% include 'toko/topbar.html' %}
        
        <div class="container ph2 ph0-ns">
            {% block content %}{% endblock %}
        </div>

        <footer class="footer mt5">
            <div class="container">
                <div class="content has-text-centered">
                    <strong>Juwal</strong> &copy; {% now "Y" %} juwal.com
                </div>
            </div>
        </footer>

        {% compress js %}
        <script>
            {% js_vars as js_vars %}
            const DATA = {{ js_vars|json }}
        </script>
        <script src="/static/lib/jquery.min.js"></script>
        <script src="/static/toko/js/app.js"></script>
        {% scripts as scripts %}
        {% for src in scripts|unique %}
        <script src="{{ src }}"></script>
        {% endfor %}
        {% endcompress %}
    </body>
</html>