{% extends 'toko/base.html' %}

{% block title %}
Daftar
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-narrow">
        <h1>Daftar</h1>
        {% if form.non_field_errors %}
        <div class="notification is-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <form action="/accounts/register/" method="post">
            {% csrf_token %}
            {% include 'toko/fields/input.html' with field=form.email %}
            {% include 'toko/fields/input.html' with field=form.password %}
            {% include 'toko/fields/input.html' with field=form.password_confirm %}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Daftar</button>
                    <a href="{% url 'toko:login' %}" class="button is-text">Masuk</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}