{% extends 'toko/base.html' %}
{% load rest_framework %}
{% load utils %}

{% block title %}
Lupa Password
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-narrow">
        <h1>Lupa Password</h1>
        <div class="notification is-info">
            Masukkan email anda untuk menerima link ke halaman reset password
        </div>
        {% errors errors %}
        <form action="{% url 'toko:forgot-password' %}" method="post">
            {% csrf_token %}
            {% render_form serializer template_pack='toko/bulma' %}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Kirim email</button>
                    <a href="{% url 'toko:login' %}" class="button is-text">Masuk</a>
                    <a href="{% url 'toko:register' %}" class="button is-text">Daftar</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}