{% extends 'toko/base.html' %}
{% load rest_framework %}
{% load utils %}

{% block title %}
Masuk
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-narrow">
        <h1>Masuk</h1>
        {% errors errors %}
        <form action="{% url 'toko:login' %}?{{ request.GET.urlencode }}" method="post">
            {% csrf_token %}
            {% render_form serializer template_pack='toko/bulma' %}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Masuk</button>
                    <a href="#" class="button is-text">Lupa password</a>
                    <a href="{% url 'toko:register' %}" class="button is-text">Daftar</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}