{% extends 'toko/base.html' %}
{% load rest_framework %}
{% load utils %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-narrow">
        <h1>Reset Password</h1>
        {% errors errors %}
        <form action="{% url 'toko:reset-password' %}" method="post">
            {% csrf_token %}
            {% render_form serializer template_pack='toko/bulma' %}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}